body {
    padding: 0;
    margin: 0;
    background-image: url(/docs/Fondo-sitio.png);

  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color:#eae4da;
  background-color: #1d1d1b;
}

#encabezado {

text-align: center;

}

#cuerpo1 {

 display: block;
 align-items: center;
 gap:20px; 
 padding-left: 50px;
 padding-right: 50px; 
 text-align: justify;  

}

#subtítulo {

  font-family: "syne";
  color: #eae4da ;
  display:flex;
  align-items:center;
  justify-content: center;
  gap: 0px;

}

#cuerpo2 {

 display: flex;
 align-items: center;
 gap:20px; 
 padding-left: 50px;
 padding-right: 50px; 
 text-align: justify;  

}

#cuerpo3 {

 display: flex;
 align-items: center;
 gap:20px; 
 padding-left: 50px;
 padding-right: 50px; 
 text-align: justify; 
}


#vis1 {

  display: flex;
  justify-content: center;
  background-image: url("./images/cuadro3.png"); /* tu imagen de marco */
  background-size: contain;           /* ajusta la imagen */
  background-repeat: no-repeat;
  background-position: center;

  padding: 40px;
  
}

#vis2 {

  display: flex;
  justify-content: center;
  background-image: url("./images/cuadro4.png"); /* tu imagen de marco */
  background-size: contain;           /* ajusta la imagen */
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px;
  
}

#vis3 {

  display:flex;
  justify-content:center;
  text-align: center;
  background-image: url("./images/cuadro3.png"); /* tu imagen de marco */
  background-size:contain;           /* ajusta la imagen */
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px;
  
}

#vis4 {

  display: flex;
  justify-content: center;
  background-image: url("./images/cuadro8.png"); /* tu imagen de marco */
  background-size: contain;           /* ajusta la imagen */
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px;
  
}

#vis5 {

  display: flex;
  justify-content: center;
  background-image: url("./images/cuadro9.png"); /* tu imagen de marco */
  background-size: contain;           /* ajusta la imagen */
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px;
  
}

#vis7 {

  display: flex;
  justify-content: center;
  background-image: url("./images/cuadro12.png"); /* tu imagen de marco */
  background-size: contain;           /* ajusta la imagen */
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px;
  
}

#vis8 {

  display: flex;
  justify-content: center;
  background-image: url("./images/cuadro11.png"); /* tu imagen de marco */
  background-size: contain;           /* ajusta la imagen */
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px;
  
}

#vis6 {

  display: flex;
  justify-content: center;
  background-image: url("./images/cuadro7.png"); /* tu imagen de marco */
  background-size: contain;           /* ajusta la imagen */
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px;
  
}

#vis9 {

  display: flex;
  justify-content: center;
  background-image: url("./images/cuadro10.png"); /* tu imagen de marco */
  background-size: contain;           /* ajusta la imagen */
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px;
  
}

#spotify {

  font-family: "syne";
  color: #eae4da ;
  display:flex;
  align-items:center;
  justify-content: center;
  text-align:left;
  font-size: small;
  gap: 0px;

}

#texto {

  font-family: "syne";
  color: #1d1d1b ;
  text-align:center;
  font-size:large;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 0px;

}

#spotifyytexto {

  display: block;
  justify-content: center;
  background-image: url("./images/Rectángulo-redondeado.png"); /* tu imagen de marco */
  background-size:cover;           /* ajusta la imagen */
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px;
}


#botones {

text-align: center;
padding-top: 60px;

}

#categorías {

text-align: center;

}

#footer {

  background-color: #1d1d1b;
  color: #eae4da;
  size: 100px;
  padding: 50px;
  opacity: 60%;
}